AIKEN_RELEASE="1.1.9" # Replace with newer version and re-run the script to update your installation
NODE_RELEASE="10.1.4" # Replace with newer version and re-run the script to update your installation
CARDANO_SRC_PATH="$HOME/cardano-src" # Where cardano-node source files will be saved
CARDANO_PATH="$HOME/cardano" # Where node database and config files will be saved
VIM_MODE=false # Whether to enable neovim extension in jcode editor
GITHUB_ID="" # GitHub username (for optional haskell-dojo integration)